{% extends 'base.html' %}


{% block main %}
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
            <form  action=" {% url 'updateStudent' %} "  method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {% for s in  student%}
                <div class="row">
                   <div class="col-12">
                      <h5 class="form-title"><span>Add Student</span></h5>
                   </div>

                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>First Name</label>
                         <input value="{{s.admin.first_name}}" name="first_name" type="text" class="form-control">
                         <input value="{{s.admin.id}}" name="student_id" type="text" class="form-control" hidden>
                        </div>
                   </div>
                   <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Last Name</label>
                        <input value="{{s.admin.last_name}}"name="last_name" type="text" class="form-control">
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Email</label>
                        <input value="{{s.admin.email}}" name="email" type="text" class="form-control" readonly>
                     </div>
                  </div>
                  
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Username</label>
                         <input value="{{s.admin.username}}"name="username"  type="text" class="form-control" readonly>
                      </div>
                   </div>
                   <div class="col-11 col-sm-6">
                     <div class="form-group">
                        <label>Password</label>
                        <input name="password"  type="password" class="form-control">
                     </div>
                  </div>
                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Address</label>
                        <textarea name="address"  type="text" class="form-control"> {{s.address}}</textarea>
                     </div>
                  </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Gender</label>
                         <label>Gender</label>
                         <select class="form-control" name="gender">
                           <option value="" {% if s.gender == '' %}selected{% endif %}>Select Gender</option>
                           <option value="Female" {% if s.gender == 'Female' %}selected{% endif %}>Female</option>
                           <option value="Male" {% if s.gender == 'Male' %}selected{% endif %}>Male</option>
                           <option value="Others" {% if s.gender == 'Others' %}selected{% endif %}>Others</option>
                       </select>
                      </div>
                   </div>
                  
                   <div class="col-12 col-sm-6">
                     <div class="form-group"  >
                        <label>Course</label>
                        <select class="form-control" name="courseid" required>
                           <option>Select Course</option>
                           {% for c in course %}
                           <option value="{{c.id}}" {% if c.id == s.courseid.id %} selected {% endif %}> {{ c.name }} </option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>
                
                   <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Session Year</label>
                        <select class="form-control" name="sessionyearid">
                           {% for y in session %}
                           <option value="{{ y.id }}" {% if s.id == y.id %} selected {% endif %}>
                               {{ y.session_start }} - {{ y.session_end }}
                           </option>
                       {% endfor %}
                       </select>
                     </div>
                  </div>
                
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Student Image</label>
                         <input type="file" name="profile_pic" class="form-control">
                      </div>
                   </div>
                   
                   <div class="col-12">
                      {% include 'includes/message.html' %}
                     </div>
                  </div> <br>
                  <div class="col-12">
                     <button type="submit" class="btn btn-primary">Update Student</button>
                  </div>
                {% endfor %}
             </form>
          </div>
       </div>
    </div>
 </div>
    
{% endblock  %}